body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 18px; 
}

a{
  color:black;
  font-weight: bold;
}

a:hover{
  text-decoration: none;
  color:gray;
}
/* Notes.html*/
.header{
  font-size: 40px;
}
.note{
  width: 420px;
  background-color:lightgoldenrodyellow;
}

.note-header{
  background-color:lightgoldenrodyellow;
}
.note-title{
  border: none;
  outline:none;
  font-size: 1.5em; 
  background-color:lightgoldenrodyellow;
}

.note-text{
  border: none;
  outline:none;
  height: 250px;
  width: 350px;
  background-color:lightgoldenrodyellow;
}

.fa-save{
  padding: 5px;
  color:green;
  font-size: 1.5rem;
}

.fa-undo{
  padding: 5px;
  color:green;
  font-size: 1.25rem;
}

.fa-edit{
  padding: 5px;
  color:blue;
}

.fa-trash-alt{
  padding: 5px;
  color:red;
}

#message{
  color: red;
}

/* Colors for color dots*/

.red{
  color:red;
  font-size: 1.25rem;
  padding: 5px;
}

.blue{
  color:lightskyblue;
  font-size: 1.25rem;
  padding: 5px;
}

.green{
  color: lightseagreen;
  font-size: 1.25rem;
  padding: 5px;
}

.yellow{
  color:yellow;
  font-size: 1.25rem;
  padding: 5px;
}

.white{
  color:white;
  font-size: 1.25rem;
  padding: 5px;
}

/* color for cards*/
.whitesmoke{
  background-color:whitesmoke;
}

.lightgoldenrodyellow{
  background-color:lightgoldenrodyellow;
}

.pink{
  background-color:pink;
}

.lightcyan{
  background-color:lightcyan;
}

.palegreen{
  background-color:palegreen;
}



