/* Notes.html*/
.header{
  line-height: 50px;
}
.note{
  width: 400px;
}

.note-header{
  background-color: #FFF;
}
.note-title{
  border: none;
  outline:none;
  font-size:2em;
}

.note-text{
  border: none;
  outline:none;
  height: 250px;
  width: 350px;
}

.fa-save{
  padding: 5px;
  color:green;
  font-size: 1.5rem;
}

.fa-edit{
  padding: 5px;
  color:blue;
}

.fa-trash-alt{
  padding: 5px;
  color:red;
}