.header{
  height: 100px;
  font-size:20px;
}

.note{
  color: blue;
  width: 400px;
}

.note-header{
  background-color: #fff;
 }

.note-body{
  background-color: #fff;
}

.note-title{
  border:none;
  outline:none;
  font-size: 2em;
}

.note-text{
  border: none;
  outline: none;
  height: 300px;
  width: 375px;
}